/* from https://uiverse.io/nikk7007/blue-mayfly-40 */
/* From Uiverse.io by nikk7007 */

/* try https://uiverse.io/aboalsim114/neat-cow-49 */
/* From Uiverse.io by aboalsim114 */

.fancy-button {
  --color: #00a97f;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

.fancy-button::before,
.fancy-button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.fancy-button::before {
  top: -1em;
  left: -1em;
}

.fancy-button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.fancy-button:hover::before,
.fancy-button:hover::after {
  height: 410px;
  width: 410px;
}

.fancy-button:hover {
  color: rgb(10, 25, 30);
}

.fancy-button:active {
  filter: brightness(0.8);
}
